<div class="media-left">
  <img class="media-object" src={{picture.thumbUrl}} alt={{picture.filename}}>
</div>
<div class="media-body">
  <ul class="list-linline pull-xs-right action-list">
    <li class="list-inline-item"><a href="#">Share</a></li>
    <li class="list-inline-item">
      <button type="button" name="button" class="btn btn-box-default btn-tiny">More</button>
    </li>
    <li class="list-inline-item">
      <div class="checkbox">
        <label class="m-t-xs">
          {{one-way-checkbox isChecked update=(action 'toggleIsChecked')}}
        </label>
      </div>
    </li>
  </ul>
  <div class="media-heading">
    <b>{{picture.filename}}</b>
  </div>
  <ul class="list-linline item-meta-list p-l-0">
    <li class="list-inline-item">Uploaded {{moment-from-now picture.createdAt}} by <a href="#">{{picture.ownerName}}</a></li>
    <li class="list-inline-item">{{picture.fileSize.humanReadable}}</li>
  </ul>
</div>
