<div class="media-left">
  {{#if expandable}}
    <span {{action 'toggleExpand'}} class="octicon {{if expanded 'octicon-triangle-down' 'octicon-triangle-right'}}"></span>
  {{/if}}
  {{#if loading}}
    Spinner...
  {{/if}}
</div>
<div class="media-body">
  {{#if (and label.then (is-pending label))}}
    <span {{action 'clickItem' model}}>Loading...</span>
  {{else}}
    <span {{action 'clickItem' model}}>{{if label.then (await label) label}}</span>
  {{/if}}

  {{#if expanded}}
    {{#each children as |child|}}
      {{async-node model=child config=config fetchChildrenOnInit=true}}
    {{/each}}
    {{#if showLoadMore}}
      <div class="aet-load-more">
        <span class="aet-shown">{{childrenSlice}}</span>
        <span class="aet-total">{{model.children.length}}</span>
        <button class="btn btn-info btn-sm" {{action 'loadMoreChildren'}}>load more</button>
      </div>
    {{/if}}
  {{/if}}
</div>
